@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
}
.inline_flex {
  display: inline-flex;
}

/* Header Section Starts */
.header {
  overflow-x: hidden;
  padding: 1em;
  color: #7c7c7c;
  font-size: 0.85rem;
  font-weight: 200;
  /* Side Navbar Starts (Better Nav) */
  /* Side Navbar Ends */
}
.header .top {
  display: flex;
  justify-content: space-between;
  color: #7c7c7c;
}
.header .top .left:hover {
  color: #343f49;
}
.header .top .right {
  display: flex;
  justify-content: end;
}
.header .top .right i {
  padding: 0 1rem;
}
.header .top .right a {
  color: #7c7c7c;
  padding: 0 0.75rem;
  border-right: 2px solid #7c7c7c;
}
.header .top .right a:nth-child(4) {
  border-right: none;
}
.header .top .right a:hover {
  color: #343f49;
}
.header .bottom {
  display: flex;
  align-items: center;
}
.header body.side-menu-visible #side-menu {
  transform: translateX(-230px);
  padding: 20px 15px;
}
.header body.side-menu-visible #side-menu .close {
  background: #fff;
  border: 2px solid yellow;
  /* padding: 1px 8px; */
  border-radius: 5px;
}
.header body.side-menu-visible #side-menu .close:hover {
  border: 2px solid #fed700;
}
.header body.side-menu-visible #side-menu .close span {
  color: yellow;
  padding: 1px 8px;
}
.header body.side-menu-visible #side-menu .close span:hover {
  color: #fed700;
}
.header body.side-menu-visible #side-menu .nav-link {
  color: #fed700;
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header body.side-menu-visible #side-menu .nav-link:hover {
  color: yellow;
  font-size: 30px;
  font-weight: 800;
  padding: 8px 6px;
  margin-left: 6px;
}

/* Header Section Ends */
.footer .credit {
  text-align: center;
}

/* // X-Small devices (portrait phones, less than 576px) */
/* // Small devices (landscape phones, less than 768px) */
/* // Medium devices (tablets, less than 992px) */
/* // Large devices (desktops, less than 1200px) */
/* // X-Large devices (large desktops, less than 1400px) */